<ion-content color="light">
  <div id="container">
    <ion-header>
      <ion-toolbar color="light">
        <ion-title>Simple Calculator</ion-title>
        <ion-buttons slot="end">
          <ion-toggle color="dark" checked={{darkMode}} (ionChange)="toggleDarkMode()"></ion-toggle>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-grid>
      <ion-row class="result">
        <ion-col>
          <ion-textarea class="ion-padding-horizontal" autoGrow=true readonly=true value={{getTxtValue()}}></ion-textarea>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col *ngFor="let button of buttons" size="3">
          <ion-button size="large" fill="clear" color="dark" (click)="input(button)">{{button}}</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
