ion-content {
  #container {
    width: 100vw;
    height: 100vh;
    position: relative;
  }

  #container ion-grid {
    width: 100%;
    padding: 0;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  #container ion-grid ion-row ion-col {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #container ion-grid ion-row ion-col ion-textarea {
    font-size: xx-large;
    text-align: right;
  }

  #container ion-grid ion-row ion-col ion-button {
    width: 100%;
  }
}